<body class="containerFondo">    
   <div class="textoPresentacion"> 
   <h2> ¡Bienvenidos al juego del momento, donde millones de familias, se juntan y disfrutan en su camino al exito, en su camino al millón. Nadie dice que será facíl, pero lo que te aseguramos, es que será una experiencia inolvidable. 
         Esto es..... Quien Quiere Ser Millonario¡</h2>
    </div>
    <div class="presentador"> 
    <img class= "presentador" src="/presentador.gif" class="card-img-top" alt="...">
    </div>
    <div class="Index">
      <a class="btn btn-warning" href='@Url.Action("Player","Home")' role="button">INICIAR</a>
    </div>
</body> 
