<body class="containerFondo">
    <div class= "containerAcciones">
        <div class="cuadrado">
            <div class="textoFinal">
                <h3>@ViewBag.infoPlayer.nombre ha ganado : @ViewBag.pozoGanado</h3>
            </div>    
        </div>

    </div>
</body>
