<body class="fondoPlayer">
    <div class="form"> 
        <form class="form-inline">
            <div class="form-group mb-2">
                <h4> NOMBRE</h4>               
            </div>
            <div class= "ubicacionForm">    
                <input type="text" name = "nombre" id = "nombre">
                <button type="submit" class="btn btn-warning mb-2">JUGAR</button>
            </div>
            
        </form>
    </div>
</body>
