*{
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.fondoPlayer {
  background-image: url('/./../QQSMFondo.jpg');
  background-size: cover;
  
}
.fondo{
 
  position: absolute; 
  height:50%;
  width: auto; 
  text-align: center;
}
.ingNombre{
  text-align: center;
  margin-top:60%;
}
.containerFondo{
  background-image: url('./../fondo-azul.jpg') !important;
  background-size: cover !important;
  width: 100%;
}
.presentador{
  width: 40%;
  position: absolute;
  top: 35%;
}
.textoPresentacion{
  position: absolute;
  width: 30%;
  top: 8%;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.cardPregunta{
  margin-bottom: 50%;
}
.card-text{
  text-align: center;
}

.form{
  position: absolute; 
  top: 90%;
  left: 40%;
  display: flex;
  justify-content: center;
}
.form h4{
  color: white;
  margin-right: 2%;
}

.form button{
  margin-left: 2%;
  border: 2px solid black;
  font-weight: bold ; 
}
.ubicacionForm{
  position: absolute;
  top: 80%;

}

.container-general{
  width: 100%;
  display: flex;
  justify-content: space-between /*Para separar la pantalla en izquierda y derecha*/;
}

.container-general .izquierda{
  width: 80%;
}

/* Es el contenedor de la pregunta */
.pregunta-titulo{
  background-color: rgb(32, 32, 85); 
  color: white;
  border-radius: 20px;
  width: 50%;
  text-align: center;
  border: 3px solid aliceblue;
  margin-top: 20%; 
  margin-left: 26%;
}


/* Es el h4 de la pregunta */
.pregunta-titulo h4{
  font-size: 25px;
  font-weight: bold;

}


.opciones span{
  color: orange;
  font-weight: bold;
}
.opciones{
  margin-top: 0%;
}


.opciones .arriba{
  margin-top: 2%;
  display: flex; /* Pone un elemento al lado del otro */ 
  justify-content: center; /* Pone esos elementos en el centro */
}

.opciones h4{
  font-weight: bold;
}

.opcion-1{
  width: 30%;
  background-color: rgb(32, 32, 85);
  color: white;
  border-radius: 20px;
  border: 3px solid aliceblue;
  text-align: left;
  margin-right: 2%;
  padding-left: 25px;
}

.opcion-2{
  width: 30%;
  background-color: rgb(32, 32, 85);
  color: white;
  border-radius: 20px;
  border: 3px solid aliceblue;
  text-align: left;
  margin-left: 2%;
  padding-left: 25px;
}

.opciones .abajo{
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.opciones .opcion-3{
  width: 30%;
  background-color: rgb(32, 32, 85);
  color: white;
  border-radius: 20px;
  border: 3px solid aliceblue;
  text-align: left;
  margin-right: 2%;
  padding-left: 25px;

}
.opciones .opcion-4{
  width: 30%;
  margin-left: 2%;
  background-color: rgb(32, 32, 85);
  color: white;
  border-radius: 20px;
  border: 3px solid aliceblue;
  text-align: left;
  padding-left: 25px;
}


.comodines-container{
  display: flex;
  justify-content: flex-start;/*Para ponerlo al principio de la pantalla (izquierda) */
  padding: 20px;
}

.comodin-1{
  width: 120px;
  height: 50px;
  border-radius: 50px;
  background-image: url('./../comodin5050.jpg');
  background-size: cover;
  border: 2px solid white;
  margin: 5px;
}

.comodin-2{
  width: 120px;
  height: 50px;
  border-radius: 50px;
  background-image: url('./../comodinDobleChance.jpg');
  background-size: cover;
  border: 2px solid white;
  margin: 5px;
}

.comodin-3{
  width: 120px;
  height: 50px;
  border-radius: 50px;
  background-image: url('./../comodinSaltear.jpg');
  background-size: cover;
  border: 2px solid white;
  margin: 5px;
}


.container-general .derecha{
  width: 20%;
}

.pozo ul{
  list-style: none;
}
.pozo ul li{
  width: 140px;
  height: 40px;
  background-color: rgb(11, 244, 46);
  border: 1px solid;
  padding-left: 5px;
}
#id {
  margin-top: 10%;
  margin-left: 15%;
}
.Index{
  position: absolute; 
  top: 80%;
  left: 45%;
  display: flex;
  justify-content: center;
}

.Index a{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 40%;
  border: 4px solid black;
  font-weight: bold ;
  width: 200px;
  height: auto;
}